@import "settings/_colors";


/**************** AUTH ****************/










/**************** LAYOUT ****************/

/* Container.js */

.container {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  width: 1330px;
  padding: 0 1rem;
}



.layout {
  min-height: calc(100vh - 11.5rem);
}





/* Separator */

.separator-short {
  width: 6rem;
  height: 2px;
  background-color: $orange;
}
.separator-wide {
  width: 100%;
  height: 1px;
  background-color: $gray;
}








/**************** PAGES ****************/

// PAGES --- Dashboard //
.header-dashboard-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 5rem 0 3rem 0;
}

.articles-dashboard-container {
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}








/**************** UI ****************/

/* UI --- Navbar.js */

.navbar-container {
  width: 100%;
  background: white;
}
.navbar {
  height: 8.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  border-bottom: solid 1px $lightgray;
}


.left-side-navbar-container {
  display: none;
}


.logo-container {
  min-width: 100%;
  display: flex;
  justify-content: space-between;
}


.logo-container h4, img {
  cursor: pointer;
}


.logo-container button {
  background: none;
  border: none;
}


.right-side-navbar-container {
  display: none;
}


.fake-links-container {
  display: none;
}


.menu-container {
  position: absolute;
  top: 8.5rem;
  z-index: 100;
  width: 100%;
  display: none; // display flex with .open
  padding-left: 2rem;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: $lightgray;
  min-height: calc(100vh - 8.5rem); // 8.5rem = height of navbar
}

.open {
  display: flex;
}

.fixedOnTop {
  position: fixed;
  top: 0;
}




/* UI --- Footer.js */

.footer-container {
  width: 100%;
  height: 38.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: solid 1px $lightgray;
}

.top-footer-container {
  display: none;
}

.bottom-footer-container {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: $ultra-lightgray;
}

.logo-footer-container {
  width: 20rem;
  height: 100%;
  padding-top: 4.5rem;

}

.footer-links-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding-top: 3rem;
  p {
    font-size: 13px;
    margin: 10px auto;
  }
}

.socials-footer-container {
  width: 100%;
  background-color: $ultra-lightgray;
  img {
    padding-bottom: 2rem;
    margin-right: 2rem;
  }
  p {
    margin: 0;
    padding-top: 0.2rem;

  }
}

/* UI --- Card */


.card-container {
  max-width: 390px;
  margin-bottom: 4rem ;
  display: flex;
  flex-direction: column;
  img {
    width: 390px;
    height: 300px;
  }
  .read-more {
    font-size: small;
    color: $orange;
    font-weight: bold;
  }
  .read-more-container {
    display: flex;
    align-items: center;
    img {
      width: initial;
      height: 25px;
    }
  }
}




/* UI ---- Login.js */
.login-box {
  padding-top: 2rem;
  width: 25rem;
  height: 28rem;
  border: solid 2px $lightgray;
}










